@model FinancasApp.Presentation.Models.AccountRegisterViewModel

@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="text-center">
    <img src="https://pibernat.com.br/blog/wp-content/uploads/2020/11/post_thumbnail-d7f3866e449d6d248b140905515448c5-780x450.jpg" alt="https://pibernat.com.br/blog/wp-content/uploads/2020/11/post_thumbnail-d7f3866e449d6d248b140905515448c5-780x450.jpg" width="210" height="150" style="border: 2px solid #000;" />
    <h3>Criar Usuário</h3>
    <p>Entre com os dados para criar seu usuário:</p>
</div>
<hr />

<<div class="text-center text-success">
    <h5>@TempData["MensagemSucesso"]</h5>
</div>

<div class="text-center text-danger">
    <h5>@TempData["MensagemErro"]</h5>
</div>

@using(Html.BeginForm())
{
    
<div class="mb-2">
        <label>Nome completo:</label>
        @Html.TextBoxFor(model => model.Nome, new{
            @class="form-control",
            @placeholder="Digite seu nome aqui."
        })
        <div class="text-danger">
            @Html.ValidationMessageFor(model => model.Nome)
         </div>

    </div>
     <div class="mb-2">
        <label>Email de acesso:</label>
        @Html.TextBoxFor(model => model.Email, new{
    @class="form-control",
    @placeholder="Digite seu Email aqui."
    })
        <div class="text-danger">
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        </div>

    <div class="mb-2">
        <label>Senha de acesso:</label>
        @Html.PasswordFor(model => model.Senha, new {
        @class="form-control",
        @placeholder="Digite sua Senha aqui."
    })
        <div class="text-danger">
            @Html.ValidationMessageFor(model => model.Senha)
        </div>
    </div>

    <label>Confirme a senha:</label>
    @Html.PasswordFor(model => model.SenhaConfirmacao, new {
            @class="form-control",
            @placeholder="Confirme sua senha aqui."
        })
    <div class="text-danger">
        @Html.ValidationMessageFor(model => model.SenhaConfirmacao)
    </div>

    <div class="mb-2 d-grid">
        <input type="submit" class="btn btn-primary"
               value="Realizar Cadastro" />

    </div>
    <div class="mb-2 row">
        <div class="col d-grid">
            <a href="/Account/Login" class="btn btn-light">
                Voltar para a página inicial
            </a>
        </div>
    </div>
}